CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*


CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*


Images

Thumbs.db


Customized

/data/cache
/data/tmp
/data/log
/data/dsn.cache.php
/data/mail.cache.php
/mzworld/application/config/database.php

/uploads
/assets/site/account/kindeditor/attached/*
